<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GroupDocs.Conversion" version="24.9.0" targetFramework="net48" />
  <package id="MessagePack" version="2.5.140" targetFramework="net48" />
  <package id="MessagePack.Annotations" version="2.5.140" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.NET.StringTools" version="17.6.3" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net48" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="7.0.0" targetFramework="net48" />
  <package id="System.Reflection.MetadataLoadContext" version="7.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>